@import "mocha.css";

* {
	border:        none;
	border-radius: 0;
	font-family:   FiraCode Nerd Font;
	font-size:     14px;
	box-shadow:  none;
	text-shadow:   none;
	transition-duration: 0s;
}

window {
	color: @text;
	background: rgba(30, 30, 46, 0.8);
}

window#waybar.solo {
	color: @text;
	background: shade(@base, 0.9);
	border: 2px solid alpha(@crust, 0.3);
}

window#wayabr.hidded {
	opacity: 0.0;
}

#workspaces {
	margin: 0 10px;
}

#workspaces button {
	padding: 0 8px;
	border-radius: 10px;
	color: @text;
}

#workspaces button.active {
	color: @blue;
	background-color: @surface0;
}

#workspaces button.visible {
	color: @text;
}

#workspaces button.urgent {
	color: @green;
}

#pulseaudio, #pulseaudio.microphone, #custom-storage {
	min-width: 60px;
}

#custom-storage {
	padding: 0 0.5rem;
	color: @mauve;
	background-color: shade(@mantle, 0.9);
}

#pulseaudio, #pulseaudio.microphone{
	padding: 0 0.5rem;
	color: @green;
	background-color: shade(@base, 0.9);
}

#tray{
	padding: 0 10px;
	background-color: shade(@base, 0.9);
}

#clock {
	color: @flamingo;
	background-color: shade(@crust, 0.9);
	padding:     0px 1rem;
	min-width:  140px;
}

#custom-storage.warning {
	color: @yellow;
}

#custom-storage.critical {
	color: @red;
}
