* {
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: rgba(18,19,25,0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 1rem;
}

#workspaces button {
    padding: 0.3rem;
    color: #313244;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 1rem;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 1rem;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 1rem;
}

#custom-updates,
#window,
#clock,
#pulseaudio,
#workspaces,
#tray {
    background: #1e1e2e;
    padding: 0 1rem;
    margin: 0.5rem 0.5rem;
    border-radius: .8rem;
}

#tray {
    margin-left: 0;
}

#workspaces {
    background: #1e1e2e;
    margin: 0.5rem 0;
}

#custom-updates {
  	color: #1793d0;
}

#window {
    margin: 0.5rem 6rem;
}

#clock {
    margin-left: 1.2rem;
    color: #9232D8;
}

#pulseaudio {
    margin-right: 0;
    border-radius: 1rem 0 0 1rem;
    color: #89b4fa;
}

#pulseaudio.microphone {
    margin-left: 0;
    margin-right: 1.2rem;
    border-radius: 0 1rem 1rem 0 ;
    color: #cba6f7;
}
